@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800;900&display=swap');


@layer base{
  
 
   html,
body {
  padding: 0;
  margin: 0;
  
 
}

a {
  
}

* {
  box-sizing: border-box;
  
  
}



}

.intro{
 /*background: linear-gradient(328deg,  white, rgb(19, 136, 245),  rgb(0, 90, 255));*/
 background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
 

}

.meet{
font-family: 'Poppins', sans-serif;

}

@media (prefers-reduced-motion: no-preference){

  .react-logo{
    animation: react-logo-spin infinite 20s linear;
  }

}


.facts{
  font-family: 'Heebo', sans-serif;
}

@keyframes react-logo-spin{
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.conform{
  height: 18rem;
  width: 40rem;

}

.menu{
  color: black;
  font-weight: 600;
  font-size: 40px;
}